/**
 * HoverScroll Style Sheet
 *
 * @author RasCarlito <carl.ogren@gmail.com>
 * @version 0.2.4
 * @revision 21
 */

/* Main container */
.hoverscroll {
	position:relative;
	top:0px;
	left:0px;
}

/* List container */
div.hoverscroll div.listcontainer {
	overflow:hidden;
}
div.hoverscroll div.fixed-listcontainer {
	overflow:hidden;
	float:left;
}

/* Actual list containing items */
div.hoverscroll ul.list {
	list-style:none;
	margin:0;
	padding:0;
}

/* Items contained in the list */
div.hoverscroll ul.list li.item {
	display:block;
	margin:0px 20px 0px 0px;
	padding:0;
}
div.hoverscroll.horizontal ul.list li.item {
	float:left;
}
div.hoverscroll.horizontal.rtl ul.list li.item {
	float:right;
}

/* Arrows */
div.hoverscroll div.arrow {
	position:absolute;
	float:none;
	background-position:center;
	background-repeat:no-repeat;
	opacity:0.95;
}
div.hoverscroll div.fixed-arrow {
    display:block;
    float:left;
    background-position:center;
    background-repeat:no-repeat;
}

div.hoverscroll div.arrow.left,
div.hoverscroll div.arrow.right,
div.hoverscroll div.fixed-arrow.left,
div.hoverscroll div.fixed-arrow.right {
	top:0px;
	width:100px;
	height:100%;
}
div.hoverscroll div.arrow.left,
div.hoverscroll div.fixed-arrow.left {
	left:-10px;
	background-image:url('../images/hoverscroll_leftarrow.png');
}
div.hoverscroll div.arrow.right,
div.hoverscroll div.fixed-arrow.right {
	right:-10px;
	background-image:url('../images/hoverscroll_rightarrow.png');
}
